<h1><%= @current_facility.name %></h1>
<h2>Edit Mode</h2>

<%= bootstrap_form_with(model: @current_facility, url: url_for(@current_facility), validate: true, local: true) do |f| %>
	<%= f.text_field :name %>
	<%= f.text_field :address %>
	<%= f.text_field :description %>
	<%= f.text_field :facility_type %>
	<%= f.number_field :latitude, step:0.000001 %>
	<%= f.number_field :longitude, step:0.000001 %>
	<%= f.submit "Save Changes", :class => "btn btn-primary" %>

	<a class="btn btn-secondary" href="/facilities/<%= @current_facility.id %>">Show Facility</a>
	<a class="btn btn-secondary" href="/facilities">All Facilities</a>
<% end %>

