<div class="row">
	<div class="col">
		<h1>Medical Facilities</h1>

		<% unless @deleted_facility_name.nil? %>
			<div class="alert alert-deleted alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Successfully Deleted Facility</strong> <%= @deleted_facility_name %>
			</div>
		<% end %>
	</div>
</div>

<div class="row">

	<div class="col-md-12 col-lg-8 mb-3">
		<!-- Map -->
		<div id="map-container" class="z-depth-1" style="height: 350px"></div>

		<!-- Facility Details -->
		<div class="card border-flat-top border-no-top">
			<div class="card-body">
				<h3 class="facility-details-name">Please Select a Facility</h3>
				<span class="medical-facility-selection">
					<p class="facility-details-address">address_goes_here</p>
					<strong>Description</strong><p class="facility-details-description">description_goes_here</p>

					<a class="btn btn-primary medical-facility-btn-view" href="#">More Details</a>
				</span>

				<!-- Superuser Controls for currently selected Facility -->
				<% if current_doctor.superuser? %>
					<a class="btn btn-superuser medical-facility-selection medical-facility-btn-edit">Edit</a>
					<button class="btn btn-superuser medical-facility-selection" data-toggle="modal" data-target="#deleteFacilityModal">Delete</button>
				<% end %>
			</div>
		</div>
	</div>
	
	<!-- Facility List -->
	<div class="col-md-12 col-lg-4">
		<div class="card">
			<div class="card-body">

				<!-- Superuser Controls for creating new Facility -->
				<% if current_doctor.superuser? %>
					<button class="btn btn-sm btn-block btn-superuser type="submit" data-toggle="modal" data-target="#createFacilityModal">Create New Facility</button>
				<% end %>

				<!-- Search -->
				<div class="input-group mt-3 mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" style="color: #ff000;">Search</span>
					</div>
					<input type="text" id="medical-facility-searchbox" class="form-control" placeholder="Name or Address..." onkeyup="facilitySearch()">
				</div>

				<ul class="list-group list-group-flush">
				<% @medical_facilities.each do |facility| %>
					<%= render partial: "facility_card", locals: {facility: facility} %>
				<% end %>
				</ul>
			</div>
		</div>
	</div>

	<!--########-->
	<!-- Modals -->
	<!--########-->

	<!-- Create Factory Modal -->
	<div class="modal fade" id="createFacilityModal" tabindex="-1" role="dialog" aria-labelledby="createFacilityModal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" >Create New Facility</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <%= bootstrap_form_with(model: MedicalFacility.new, url: medical_facility_index_path, local: true) do |f| %>
				<%= f.text_field :name %>
				<%= f.text_field :address %>
				<%= f.text_field :description %>
				<%= f.text_field :facility_type %>
				<%= f.number_field :latitude, step:0.000001 %>
				<%= f.number_field :longitude, step:0.000001 %>
	      </div>
	      <div class="modal-footer">
	      	<%= f.submit "Save", :class => "btn btn-primary" %>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<% end %>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Delete Factory Modal -->
	<%= render partial: "delete_modal" %>

</div>

<script>
	// Hack to get Ruby variables in Javascript files
	medical_facilities = <%= @medical_facilities.to_json.html_safe %>;
</script>
<%= javascript_include_tag "medical_facility_index" %>