<div class="row">
	<div class="col">
		<h1>Medical Facilities</h1>

		<% unless @deleted_facility_name.nil? %>
			<div class="alert alert-deleted alert-dismissable">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>Successfully Deleted Facility</strong> <%= @deleted_facility_name %>
			</div>
		<% end %>
	</div>
</div>

<div class="row">

	<div class="col-sm-12 col-md-8 mb-3">
		<!-- Map -->
		<h2>Facility Map</h2>
		<div id="map-container" class="z-depth-1" style="height: 350px"></div>

		<!-- Facility Details -->
		<h3 class="mt-3 facility-details-name">Please Select a Facility</h3>
		<span class="medical-facility-selection">
			<p class="facility-details-address">address_goes_here</p>
			<strong>Description</strong><p class="facility-details-description">description_goes_here</p>

			<a class="btn btn-primary medical-facility-btn-view" href="#">More Details</a>
		</span>

		<!-- Superuser Controls for currently selected Facility -->
		<% if current_doctor.superuser? %>
			<a class="btn btn-superuser medical-facility-selection medical-facility-btn-edit">Edit</a>
			<button class="btn btn-superuser medical-facility-selection" data-toggle="modal" data-target="#deleteFacilityModal">Delete</button>
		<% end %>
	</div>
	
	<!-- Facility List -->
	<div class="col-sm-12 col-md-4">
		<h2>List of Facilities</h2>
		
		<!-- Superuser Controls for creating new Facility -->
		<% if current_doctor.superuser? %>
			<button class="btn btn-sm btn-block btn-superuser type="submit" data-toggle="modal" data-target="#createFacilityModal">Create New Facility</button>
		<% end %>

		<!-- Dropdown -->
		<div class="input-group mt-3 mb-3">
			<div class="input-group-prepend">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hospitals</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Hospitals</a>
					<a class="dropdown-item" href="#">Clinics</a>
				</div>
			</div>
			<input type="text" class="form-control" placeholder="Search" aria-label="Text input with dropdown button">
		</div>

		<%= render partial: "facility_card", locals: {facility_name: "Somewhere Clinic", facility_address: "12 Somewhere Street, Placeholder Ave."} %>
		<%= render partial: "facility_card", locals: {facility_name: "Someplace Central Hospital", facility_address: "15 Somehplace Road, Placeholder Lane"} %>
		<%= render partial: "facility_card", locals: {facility_name: "P Medical Center", facility_address: "P Lace, Holder Road"} %>
		<%= render partial: "facility_card", locals: {facility_name: "P Medical Center", facility_address: "P Lace, Holder Road"} %>
	</div>

	<!--########-->
	<!-- Modals -->
	<!--########-->

	<!-- Create Factory Modal -->
	<div class="modal fade" id="createFacilityModal" tabindex="-1" role="dialog" aria-labelledby="createFacilityModal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" >Create New Facility</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <%= bootstrap_form_with(model: MedicalFacility.new, url: medical_facility_index_path, local: true) do |f| %>
				<%= f.text_field :name %>
				<%= f.text_field :address %>
				<%= f.text_field :description %>
				<%= f.text_field :facility_type %>
				<%= f.number_field :latitude, step:0.000001 %>
				<%= f.number_field :longitude, step:0.000001 %>
	      </div>
	      <div class="modal-footer">
	      	<%= f.submit "Save", :class => "btn btn-primary" %>
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<% end %>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Delete Factory Modal -->
	<div class="modal" id="deleteFacilityModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Delete <strong class="facility-details-name"></strong></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>Really delete <strong class="facility-details-name">name_here</strong>?</p>
	        <p>This action <strong>CAN NOT</strong> be reversed!</p>
	      </div>
	      <div class="modal-footer">
	      	<a data-method="delete" class="btn btn-superuser medical-facility-btn-destroy">Confirm Deletion</a>
	      	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel Delete</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<script>
	// Hack to get Ruby variables in Javascript file 'medical_facility_maps.js.erb'
	medical_facilities = <%= @medical_facilities.to_json.html_safe %>;
</script>
