<h1><%= @current_patient.full_name %></h1>

<div class="row">
	<div class="col-md-12 col-lg-4">

		<!-- Patient Information -->
		<div class="card">
			<div class="card-body">
				<h5>Patient Information</h5>
				<p>
					<strong>Patient Name: </strong><%= @current_patient.full_name %>
					<br>
					<strong>Assigned Doctor: </strong><%= @current_patient.doctor.full_name %>
				</p>

				<a class="btn btn-block btn-primary" href="<%= doctor_path(@current_patient.doctor.id) %>">View Doctor</a>

				<% if current_doctor == @current_patient.doctor %>
				<button class="btn btn-block btn-superuser" data-toggle="modal" data-target="#createNewRecordModal">Add New Record</button>
				<% end %>
				<button id="record-toggle-button" class="btn btn-block btn-secondary" onclick="toggleRecordView()">View Record History</button>
			</div>
		</div>

		<!-- Scheduled Appointments -->
		<div class="card mt-3">
			<div class="card-body">
				<h5>Appointments</h5>

				<% if current_doctor == @current_patient.doctor %>
				<button class="btn btn-block btn-superuser medical-facility-selection mb-3" data-toggle="modal" data-target="#createAppointmentModal">Create Appointment</button>
				<% end %>

				<!-- Appointment Search -->
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" style="color: #ff000;">Search</span>
					</div>
					<input type="text" id="appointment-searchbox" class="form-control" placeholder="Patient Name, Time or Reason..." onkeyup="appointmentSearch()">
				</div>

				<ul id="appointments" class="list-group list-group-flush">
					<% @current_patient.appointments.order('appointments.scheduled ASC').each do |appointment| %>
						<%= render partial: "appointment_card", locals: {appointment: appointment} %>
					<% end %>

					<% if @current_patient.appointments.empty? %>
						<%= @current_patient.full_name %> has no appointments.
					<% end %>
				</ul>
			</div>
		</div>

	</div>

	<div class="col-md-12 col-lg-8">

		<!-- Patient Records (Normal) -->
		<div class="card" id="patient-records">
			<div class="card-body">
				<h5>Patient Record</h5>

				<ul id="patient_records" class="list-group list-group-flush">
					<% @current_patient.patient_records.order('patient_records.created_at DESC').each do |patient_record| %>
						<% if !patient_record.is_archived %>
							<%= render partial: "patient_record_card", locals: {patient_record: patient_record} %>
						<% end %>
					<% end %>

					<% if @current_patient.patient_records.where(is_archived: false).empty? %>
						<%= @current_patient.full_name %> has no current records.
					<% end %>
				</ul>

			</div>
		</div>


		<!-- Patient Records (Archived) -->
		<div class="card d-none" id="archived-patient-records">
			<div class="card-body">
				<h5>Archived Patient Record</h5>

				<ul id="patient_records" class="list-group list-group-flush">
					<% @current_patient.patient_records.order('patient_records.created_at DESC').each do |patient_record| %>
						<% if patient_record.is_archived %>
							<%= render partial: "archived_patient_record_card", locals: {patient_record: patient_record} %>
						<% end %>
					<% end %>
				</ul>

				<% if @current_patient.patient_records.where(is_archived: true).empty? %>
					<%= @current_patient.full_name %> has no archived records.
				<% end %>
			</div>
		</div>

	</div>
</div>

<%= render partial:"create_new_record_modal" %>
<%= render partial:"create_appointment_modal" %>

<%= javascript_include_tag "patient_show" %>