<!-- <p class="mb-5">Connecting professional medical staff to centralized patient records across multiple medical centers all around the world.</p> -->
<p class="mb-5">Providing a centralized database of patient records to professional medical staff across the globe.</p>
<br>
<% if @user.nil? %>
	<%= link_to("Login", new_doctor_session_path, :class => "btn btn-secondary btn-block") %>
	<%= link_to("Register", new_doctor_registration_path, :class => "btn btn-secondary btn-block") %>
<% else %>
	<p>You're logged in, <%= @user.first_name %>!</p>
	<% if @user.superuser? %>
		<p>You are logged in as a superuser.</p>
	<% end %>
	<%= link_to("Open ZEAL", '/facilities', :class => "btn btn-secondary btn-block") %>
	<%= link_to("Logout", destroy_doctor_session_path, :class => "btn btn-secondary btn-block") %>
<% end %>