<div class="card mb-2 appointment-card">
  <div class="card-body">
    <h5 class="card-title"><%= appointment.patient.full_name %></h5>
    <p class="card-text">

		<strong>Reason: </strong><span class="appointment-card-reason"><%= appointment.reason %></span>
		<br>

    	<% if appointment.scheduled > DateTime.now %>
            <% appointment_text = "Cancel Appointment" %>
    		<sub>Starts <%= time_ago_in_words(appointment.scheduled) %> from now <span class="appointment-card-datetime">(<%= appointment.scheduled.strftime("%Y-%m-%d at %H:%M:%S") %>)</span></sub>
    	<% else %>
            <% appointment_text = "Remove" %>
    		<sub>Began <%= time_ago_in_words(appointment.scheduled) %> ago <span class="appointment-card-datetime">(<%= appointment.scheduled.strftime("%Y-%m-%d at %H:%M:%S") %>)</span></sub>
    	<% end %>
    </p>

    <% if appointment.doctor == current_doctor %>
        <div class="btn-group justify-content-between btn-block" role="group">
            <a class="btn btn-block btn-primary" href="<%= patient_path(appointment.patient.id) %>">View Patient</a>
            <a class="btn  btn-superuser" href="<%= patient_appointment_cancel_appointment_path(appointment.patient.id, appointment.id) %>"><%= appointment_text %></a>
        </div>
    <% else %>
          <a class="btn btn-block btn-primary" href="<%= patient_path(appointment.patient.id) %>">View Patient</a>
    <% end %>

  </div>
</div>