<div class="row">
	<div class="col">
		<h1><%= @this_doctor.full_name %></h1>
	</div>
</div>

<div class="row">

	<!-- Doctor Information -->
	<div class="col-md-12 col-lg-8 mb-3">
		<div class="card mt-3">
			<div class="card-body">
				<h5>Doctor Information</h5>
				<% if @this_doctor.superuser? %>
					<p><strong>SUPERUSER</strong></p>
				<% end %>

				<% 
				    if @this_doctor.workplace == nil
				    	workplace_dept = "None"
				    	workplace_facility = "None"
				    else
				    	workplace_dept = @this_doctor.workplace.name
				    	workplace_facility = @this_doctor.workplace.medical_facility.name
				    end
			    %>
			    <p>
			    	<strong>Facility: </strong><span class="doctor-facility"><%= workplace_facility %></span>
					<br>
					<strong>Department: </strong><span class="doctor-department"><%= workplace_dept %></span>
			    </p>

				<% if @this_doctor.workplace != nil %>
					<a class="btn btn-primary" href="<%= medical_facility_department_path(@this_doctor.workplace.medical_facility.id, @this_doctor.workplace.id) %>">View Workplace</a>
				<% end %>
			</div>
		</div>

		<% if Department.where(department_head: @this_doctor).count > 0 || MedicalFacility.where(facility_head: @this_doctor).count > 0 %>
		<div class="card mt-3">
			<div class="card-body">
				<h5>Administrative Positions</h5>

				<% Department.where(department_head: @this_doctor).each do |department| %>
					<%= render partial:"head_card", locals: {headname: "#{department.name} at #{department.medical_facility.name}", link: medical_facility_department_path(department.medical_facility.id, department.id)} %>
				<% end %>

				<% MedicalFacility.where(facility_head: @this_doctor).each do |facility| %>
					<%= render partial:"head_card", locals: {headname: "#{facility.name}", link: medical_facility_path(facility.id)} %>
				<% end %>
			</div>
		</div>
		<% end %>

	</div>

	<!-- Patients and Appointments -->
	<div class="col-md-12 col-lg-4">

		<!-- Tab Header -->
		<ul id="doctor_tabs" class="nav nav-pills mt-3" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="appointments-tab" data-toggle="tab" role="tab" aria-controls="appointments" href="#appointments" aria-selected="true">Appointments</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="patients-tab" data-toggle="tab" role="tab"  aria-controls="patients" href="#patients" aria-selected="false">Patients</a>
		  </li>
		</ul>

		<!-- Tab Content -->
		<div class="tab-content">

			<!-- Appointments -->
			<div class="tab-pane active" id="appointments" role="tabpanel" aria-labelledby="appointments-tab">
				<div class="card border-flat-top-left">
					<div class="card-body">
						<!-- Appointment Search -->
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" style="color: #ff000;">Search</span>
							</div>
							<input type="text" id="appointment-searchbox" class="form-control" placeholder="Patient Name, Time or Reason..." onkeyup="appointmentSearch()">
						</div>

						<!-- Appointment List -->
						<ul class="list-group list-group-flush">
							<% @this_doctor.appointments.order('appointments.scheduled ASC').each do |appointment| %>
								<%= render partial:"appointment_card", locals: {appointment: appointment} %>
							<% end %>
							<% if @this_doctor.appointments.empty? %>
								<% if current_doctor == @this_doctor %>
									You have no appointments. Yay!
								<% else %>
									<%= @this_doctor.full_name %> has no appointments.
								<% end %>
							<% end %>
						</ul>
					</div>
				</div>
			</div>

			<!-- Patients -->
			<div class="tab-pane" id="patients" role="tabpanel" aria-labelledby="patients-tab">
				<div class="card border-flat-top-left">
					<div class="card-body">
						<!-- Doctor Controls for creating new patient -->
						<% if current_doctor == @this_doctor %>
							<button class="btn btn-sm btn-block btn-superuser mb-3" type="submit" data-toggle="modal" data-target="#createPatientModal">New Patient</button>
						<% end %>

						<!-- Patient Search -->
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" style="color: #ff000;">Search</span>
							</div>
							<input type="text" id="patient-searchbox" class="form-control" placeholder="Patient Name..." onkeyup="patientSearch()">
						</div>

						<!-- Patient List -->
						<ul class="list-group list-group-flush">
							<% @this_doctor.patients.each do |patient| %>
								<%= render partial:"patient_card", locals: {patient: patient} %>
							<% end %>
							<% if @this_doctor.patients.empty? %>
								<% if current_doctor == @this_doctor %>
									You have no patients. Yay!
								<% else %>
									<%= @this_doctor.full_name %> has no patients.
								<% end %>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render partial: "create_patient_modal" %>

<%= javascript_include_tag "doctor_show" %>