<!DOCTYPE html>
<html>
  <head>
    <title>ZEAL Healthcare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body style="background: url(<%= asset_path('background_bright_squares.png') %>">
  	<!-- Navigation Bar -->
	<nav class="navbar navbar-expand-lg bg-secondary fixed-top mb-3">
		<div class="container">
			<!-- ZEAL Logo -->
			<a class="navbar-brand" href="<%= doctor_path(current_doctor.id) %>">
				<img src=<%= asset_path('logo_nosub.png') %> height="30" alt="">
			</a>

			<!-- Hamburger Icon -->
			<button class="ml-auto navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- The rest of the Navbar -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

		        <ul class="navbar-nav ml-auto">
		            <li class="nav-item">
		                <a class="nav-link" href="<%= doctor_path(current_doctor.id) %>"><%= current_doctor.first_name.possessive %> Page</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="<%= doctors_path %>">Doctors</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="<%= patients_path %>">Patients</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="<%= medical_facility_index_path %>">Facilities</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="<%= destroy_doctor_session_path %>">Logout</a>
		            </li>
		        </ul>
		    </div>
		</div>
	</nav>
  	
  	<!-- Body content -->
  	<div data-turbolinks=false class="container mb-3">
  		
  		<!-- Padding for header -->
  		<div class="row pt-5 pb-4"></div>

		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<%= value %>
			</div>
		<% end %>

	    <%= yield %>
	    
	    <!-- Padding for footer -->
	    <div class="row pt-3 pb-3"></div>
  	</div>

  	<!-- Footer -->
  	<footer class="bg-secondary fixed-bottom">
  		<div class="container">
  			<a class="nav-link" href="https://twitter.com/TheReccy">Copyright 2018 - Aaron Meaney</a>
  		</div>
  	</footer>
  </body>
</html>
